*.properties
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

*.class

*.jar
*.war
*.ear
*./private/private.properties
/01 Servers/01_Server_CoreBancario/nbproject/private/