*.properties
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

*.class

*.jar
*.war
*.ear
DBConnect.java
/01 Servers/02_Server_BancaElectronica/nbproject/private/
/02 Cliente/02_Cliente/nbproject/private/